*, *:before, *:after{
	box-sizing: border-box;
}


html{
	min-height: 100%;
	width: 100%;
	font-family: 'Karla', Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 16px;
	margin: 0;
	color: white;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

body{
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: $white;
}

h1{
	font-family: 'Karla', Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 4em;
	line-height: 1;
	-webkit-font-smoothing: antialised;
	@media (max-width: 767px){
		font-size: 2em;
		margin: 0;
	}
}

h2{
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	letter-spacing: 1px;
	font-size: 2em;
	text-transform: uppercase;
	@media (max-width: 767px){
		font-size: 1.5em;
	}
}

.arrow-nav{
	color: white;
	@media (max-width: 1024px){
		display: none;
	}
}



p{
	font-size: 1.4em;
	line-height: 1.5;
	font-family: 'Karla', Helvetica, sans-serif;
	-webkit-font-smoothing: antialised;
}

a {
	text-rendering:optimizeLegibility;
	text-decoration:none;
	outline:none;
}


.ng-scope{
	width: 100%;
	height: 100%;
}

.frame{
	position: relative;
	top: -58px;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: $white;
	color: black;
	overflow-y: scroll;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	@include vendorize(transition, background .3s linear);
	
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer !important;
}


//REMOVE SCROLLBAR

::-webkit-scrollbar{
	display: none;
}
