*, *:before, *:after{
	box-sizing: border-box;
}


html{
	min-height: 100%;
	width: 100%;
	font-family: futura, 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 16px;
	margin: 0;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

body{
	height: 100%;
	width: 100%;
	background-color: black;
	margin: 0;
}

h1{
	font-family: futura, 'Helvetica Neue', 'clan_pronarrow_ultra', Helvetica, sans-serif;
	font-weight: lighter;
	letter-spacing: -1px;
	font-size: 4em;
	line-height: 1;
}

h2{
	font-family: futura,  'Helvetica Neue', 'clan_pronarrow_ultra', Helvetica, sans-serif;
	font-weight: lighter;
	letter-spacing: -1px;
	font-size: 2em;
	text-transform: uppercase;
}



p{
	font-size: 1.4em;
	line-height: 1.5;
	color: $purple;
	font-family: futura, 'Helvetica Neue', Helvetica, sans-serif;
	-webkit-font-smoothing: antialised;
}

a {
	text-rendering:optimizeLegibility;
	text-decoration:none;
	outline:none;
}


.ng-scope{
	width: 100%;
	height: 100%;
}

.frame{
	position: relative;
	margin: 0;
	top: 0;
	left: 0;
	height: 100%;
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: black;
	overflow-y: scroll;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	@media (device-width: 768px) and (device-height: 1024px){
		height: 1024px;
	}
	
}

//REMOVE SCROLLBAR

::-webkit-scrollbar{
	display: none;
}
