.hero{
	position: relative;
	width: 100%;
	background-color: black;
	text-align: center;
	.hero-img-wrap{
		display: block;
		margin: 10% auto 10% auto;
		width: 200px;
		height: 200px;
		border: 4px solid white;
		overflow: hidden;
		img{
			max-height: 100%;
			height: 100%;
			width: auto;
		}
	}
	@media (min-width: 768px){
		position: fixed;
		width: 40%;
		top: 0;
		left: 0;
		height: 100%;
		text-align: center;
		box-sizing: border-box;
		.hero-img-wrap{
			width: 400px;
			height: 400px;
			margin: 25% auto 10% auto;
			overflow: hidden;
			img{
				height: 100%;
				width: auto;
			}
		}
	}
}


