
.text-wrapper{
	width: 100%;
	height: auto;
	position: relative;
	@media (min-width: 1024px){
		width: 50%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
	}
}

.mobile-image{
	display: block;
	width: 80%;
	margin: 10% 10% 0 10%;
	@media (min-width: 1024px){
		display: none;
	}
	img{
		max-width: 100%;
	}
}

.title-text{
	text-align: center;
	position: relative;
	margin: 0;
	h1{
		font-size: 2em;
	}
	h2{
		font-size: 1.2em;
		padding: 0 5%;
	}
	a.arrow-nav{
		text-decoration: none;
		font-size: 50px;
	}

	@media (min-width: 768px){
		h1{
			font-size: 4em;
		}
	}
	
	@media (min-width: 1024px){
		height: 70%;
		width: 90%;
		margin: 30% 5% 88px 5%;
		a.arrow-nav{
			margin-top: 88px;
		}
	}
}



.text{
	padding: 0 5%;
	#intro{
		margin-top: 0;
		text-align: center;
		@media (min-width: 768px){
			margin-top: 10%;
		}
		p{
			font-size: 1.2em;
			@media (min-width: 768px){
				font-size: 1.5em;
			}
			@media (min-width: 1024px){
				font-size: 1.5em;
				text-align: left;
			}
		}
		@media (min-width: 1024px){
			padding-bottom: 10%;
		}
	}

	.item{
		margin: 20% 0;
		text-align: center;
		h1, h2{
			text-align: center;
			margin: 20px 0;
			@media (min-width: 1024px){
				text-align: left;
			}
		}
		h1{
			margin-top: 40px;
		}
		p.play-button{
			display: inline-block;
			padding: 3px 10px;
			border: 1px solid black;
			box-sizing: border-box;
			width: 50%;
			display: none;
			&:hover{
				background-color: black;
				color: white;

			}
			@media (min-width: 1024px){
				display: block;
			}

		}
	}
	@media (min-width: 768px){
		.bodyText{
			font-size: 1.5em;
		}
	}
	@media (min-width: 1024px){
		padding-bottom: 800px;
		.bodyText{
			text-align: left;
		}
	}
}



a.arrow-nav{
	text-decoration: none;
	display: block;
	span.arrow{
		font-size: 30px;
		text-align: center;
		padding-top: 15%;
		padding-bottom: 100px;
		display: block;
		padding-left: 0;
		margin-top: 15% auto;
		@media (min-width: 768px){
			font-size: 50px;
			padding-top: 0;
		}
	}
}


