.video-wrapper{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 40%;
	display: none;
	overflow: hidden;
	@include vendorize(perspective, 1000px);
}


.video{
	position: relative;
	border: 4px solid white;
	box-sizing: border-box;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-bottom: 50px;
	margin-top: 22.5%;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	z-index: 1;
	transition: all .5s ease;
	@include vendorize(perspective, 1000px);
	@include vendorize(transition, all .5s linear);
	@include vendorize(transform, rotateX(10deg) rotateY(40deg) rotateZ(-10deg));
	&:hover, &.playing{
		@include vendorize(transform, rotateX(0deg) rotateY(0deg) rotateZ(0deg));
	}
	iframe, object, embed{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

	}
}
