@font-face {
  font-family: 'clan_pronarrow_ultra';
  src: url("../fonts/clanpro-narrultra-webfont.eot");
  src: url("../fonts/clanpro-narrultra-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/clanpro-narrultra-webfont.woff2") format("woff2"), url("../fonts/clanpro-narrultra-webfont.woff") format("woff"), url("../fonts/clanpro-narrultra-webfont.ttf") format("truetype"), url("../fonts/clanpro-narrultra-webfont.svg#clan_pronarrow_ultra") format("svg");
  font-weight: bold;
  font-style: normal; }
html {
  min-height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  margin: 0; }

body {
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0; }

h1 {
  font-family: 'Helvetica Neue', 'clan_pronarrow_ultra', Helvetica, sans-serif;
  font-weight: lighter; }

h1 {
  text-transform: uppercase;
  letter-spacing: -1px; }

.frame {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll; }

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: yellow;
  opacity: 0.5; }

.hero {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background: url(../img/morton.jpg) no-repeat center center;
  background-size: cover;
  top: 0;
  left: 0;
  text-align: center; }
  .hero h1 {
    margin: 0;
    margin-left: 5%;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase; }
    .hero h1.top {
      top: 20px;
      font-family: 'clan_pronarrow_ultra'; }
    .hero h1.bottom {
      bottom: 20px;
      position: absolute; }

.video {
  position: relative;
  width: 50%;
  overflow: hidden;
  left: 20px;
  -webkit-transition: all .1s ease-in-out;
  z-index: 9; }
  .video h1 {
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 1;
    margin: 0; }
  .video.sticky {
    position: fixed;
    top: 0; }

.images {
  position: absolute;
  top: 200%;
  left: 0;
  width: 50%;
  margin-left: 0;
  text-align: center; }
  .images .img-wrap {
    margin-left: 25%;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    overflow: hidden; }
    .images .img-wrap img {
      max-width: 100%; }

.text {
  position: absolute;
  top: 100%;
  right: 0;
  width: 50%;
  margin-left: 50%;
  margin-top: 50px;
  color: white; }
  .text h1 {
    padding-left: 20px;
    margin: 0;
    text-transform: uppercase;
    font-family: 'clan_pronarrow_ultra'; }
  .text p {
    padding: 20px;
    padding-top: 0;
    margin-top: 0;
    font-size: 2em;
    line-height: 1.5; }
