@import 'fonts.scss';

html{
	min-height: 100%;
	width: 100%;
	font-family: 'apercumono', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 16px;
	margin: 0;
}

body{
	height: 100%;
	width: 100%;
	background-color: black;
	margin: 0;
}

h1{
	font-family: 'apercumono', 'Helvetica Neue', 'clan_pronarrow_ultra', Helvetica, sans-serif;
	font-weight: lighter;
}

h1{
	text-transform: uppercase;
	letter-spacing: -1px;
}


.frame{
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.hero-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: yellow;
	opacity: 0.5;
}

.hero{
	position: relative;
	margin: 0;
	width: 100%;
	min-height: 100%;
	// background: url(../img/morton.jpg) no-repeat center center;
	background-size: cover;
	top: 0;
	left: 0;
	text-align: center;
	img.image-hero{
		max-width: 100%;
		max-height: 100%;
		position: absolute;
		bottom: 0;
		left: auto;
		right: 10%;
		margin-right: auto;
		text-align: center;
		margin-top: 0;
	}
	h1{
		margin: 0;
		position: absolute;
		color: white;
		text-align: center;
		font-size: 8em;
		text-transform: uppercase;
		&.top{
			top: 20px;
			font-family: 'apercumono', 'Helvetica Neue', 'clan_pronarrow_ultra';
		}
		&.bottom{
			bottom: 20px;
			position: absolute;
		}
	}

}

.clouds{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	min-height: 320px;
	z-index: 5;
	opacity: 0.8;
	-webkit-filter: grayscale(1);
	overflow: hidden;
	background-color: transparent;
	background-size: cover;
	.cloud.level-one{
		background-image: url(../img/cloud_1a.png) no-repeat bottom left;
	}
	.cloud.level-one.animate{
		// -webkit-animation: cloudpan 460s 0s infinite linear;
	}

	.cloud:after{
		display: block;
		position: relative;
		left: 100%;
		width: 100%;
		-webkit-background-size: inherit;
		background-size: inherit;
		background-position: inherit;
		background-image: inherit;
		content: ' ';
	}
}

@-webkit-keyframes cloudpan{
	from{
		-webkit-transform: translateX(0) translateZ(0);
		transform: translateX(0) translateZ(0);
	}
	to{
		-webkit-transform: translateX(-100%) translateZ(0);
		transform: translateX(-100%) translateZ(0);
	}
}



.video{
	position: relative;
	width: 50%;
	overflow: hidden;
	left: 20px;
	-webkit-transition: all .1s ease-in-out;
	z-index: 1;
	h1{
		padding: 20px;
		color: white;
		text-transform: uppercase;
		font-size: 3em;
		line-height: 1;
		margin: 0;
	}
	&.sticky{
		position: fixed;
		top: 0;
	}
}

.images{
	position: absolute;
	top: 200%;
	left: 0;
	width: 50%;
	margin-left: 0;
	text-align: center;
	.img-wrap{
		margin-left: 25%;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		height: 300px;
		overflow: hidden;
		img{
			max-width: 100%;
		}
	}
	
}

.text{
	position: absolute;
	top: 100%;
	right: 0;
	width: 50%;
	margin-left: 50%;
	margin-top: 50px;
	color: white;
	z-index: 3;
	.topic{
		margin-bottom: 100%;
	}
	h1{
		padding-left: 20px;
		font-size: 10em;
		margin: 0;
		text-transform: uppercase;
		font-family: 'clan_pronarrow_ultra';
	}

	p{
		padding: 20px;
		padding-top: 0;
		margin-top: 0;
		font-size: 2em;
		line-height: 1.5;
	}
}