
<div du-scroll-container="du-scroll-container" move-video="move-video" class="frame desktop js-frame">
  <div ng-style="heroStyles()" class="video-wrapper">
    <div ng-style="thumbStyles()" class="video transform">
      <div ng-style="buttonStyles()" ng-class="{scrolled: scrolled}" ng-click="playVideo(video.currentTime)" class="lazyYT-button"></div>
      <div ng-style="videoStyles()">
        <youtube-video id="main-vid" video-id="video.id" player-vars="playerVars"></youtube-video>
      </div>
    </div>
  </div>
  <div class="text-wrapper">
    <div class="title-text">
      <div class="mobile-image"><img ng-src="{{fields.heroImage.fields.file.url}}"/></div>
      <div class="table-cell">
        <h1 class="top">{{fields.title}}</h1>
        <h2>{{fields.subTitle}}</h2>
      </div>
      <div class="button-group"><a href="https://twitter.com/share?url={{fields.shareUrl}}/&amp;via=rbma&amp;text={{fields.twitterShareText}}" target="blank" class="button"><i class="fa fa-twitter"></i></a><a href="https://www.facebook.com/sharer/sharer.php?u={{fields.shareUrl}}" target="blank" class="button"><i class="fa fa-facebook"></i></a></div><a href="#intro" offset="30" du-smooth-scroll="du-smooth-scroll" class="arrow-nav"><span class="arrow fa fa-angle-double-down"></span></a>
    </div>
    <div class="text">
      <div id="intro" ng-bind-html="trust(fields.introText)"></div>
      <div ng-if="dataready" wrap-waypoints="wrap-waypoints" class="item-container">
        <div ng-repeat="item in fields.youTubeListItems" data-chapter="{{item.fields.order}}" data-id="{{item.fields.youTubeVideoId}}" data-thumblur="{{item.fields.thumbBlur.fields.file.url}}" data-time="{{item.fields.startTime}}" data-thumbnail="{{item.fields.videoThumbnail.fields.file.url}}" class="item">
          <div lazy="lazy" thumbnail="{{item.fields.videoThumbnail.fields.file.url}}?w=800" videoid="{{item.fields.youTubeVideoId}}" data-ratio="16:9" data-seconds="{{item.fields.startTime}}" class="lazyYT">loading...</div>
          <h2><strong>{{item.fields.order}}</strong> {{item.fields.title}}</h2>
          <p ng-bind-html="trust(item.fields.bodyText)" class="bodyText"></p>
          <p ng-click="playVideo(item.fields.startTime)" class="play-button"><span class="fa fa-play"></span> PLAY</p>
        </div>
      </div>
    </div>
  </div>
</div>