.frame(du-scroll-container)
	div(class="hero", mouseback)
		a(href="#start", du-smooth-scroll, offset="30")
			.image-hero
				img(ng-src="{{fields.heroImage.fields.file.url}}")
		h1(class="top") {{fields.title}}
		h2 {{fields.subTitle}}

	
			
	.intro-text
		a(id="start")
		div(ng-bind-html="trust(fields.introText)")


	div(class="video" sticky)
		youtube-video(id="main-vid", video-id="video", player-vars="playerVars")


	.text
		div(wrap class="topic", 
			ng-repeat="item in fields.youTubeListItems", 
			data-chapter="{{item.fields.order}}", 
			data-id="{{item.fields.youTubeVideoId}}",
			data-time="{{item.fields.startTime}}")
			
			h1 {{item.fields.order}}
			h2 {{item.fields.title}}
			div(class="bodyText", ng-bind-html="trust(item.fields.bodyText)")
			span(class="arrow fa fa-angle-double-down")