
<div du-scroll-container="du-scroll-container" class="frame">
  <div ng-style="coverBg" class="hero"><a href="#start" du-smooth-scroll="du-smooth-scroll" offset="30"></a>
    <h1 class="top">{{fields.title}}</h1>
    <h2>{{fields.subTitle}}</h2>
  </div>
  <div class="intro-text"><a id="start"></a>
    <div ng-bind-html="trust(fields.introText)"></div>
  </div>
  <div sticky="sticky" class="video">
    <youtube-video id="main-vid" video-id="video" player-vars="playerVars"></youtube-video>
  </div>
  <div class="text">
    <div wrap="wrap" ng-repeat="item in fields.youTubeListItems" data-chapter="{{item.fields.order}}" data-id="{{item.fields.youTubeVideoId}}" data-time="{{item.fields.startTime}}" class="topic">
      <h1>{{item.fields.order}}</h1>
      <h2>{{item.fields.title}}</h2>
      <div ng-bind-html="trust(item.fields.bodyText)" class="bodyText"></div><span class="arrow fa fa-angle-double-down"></span>
    </div>
  </div>
</div>