doctype html
html(lang="en", ng-app="ytlist")
	head
		title YT Lectures
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet", type="text/css", href="css/main.css")
	
	body
		div(ng-view class="slide")

		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(type="text/javascript", src="bower_components/angular/angular.js")
		script(type="text/javascript", src="bower_components/angular-route/angular-route.js")
		script(type="text/javascript", src="bower_components/angular-sanitize/angular-sanitize.min.js")
		script(type="text/javascript", src="bower_components/angular-scroll/angular-scroll.min.js")
		script(type="text/javascript", src="bower_components/angular-animate/angular-animate.min.js")
		script(type="text/javascript", src="bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js")
		script(type="text/javascript", charset="utf-8", src="bower_components/contentful/dist/contentful.min.js")
		script(type="text/javascript", charset="utf-8", src="bower_components/ng-contentful/ng-contentful.js")
		script(type="text/javascript", src="bower_components/showdown/src/showdown.js")
		script(type="text/javascript", src="bower_components/jquery-waypoints/waypoints.min.js")
		script(type="text/javascript", src="js/lazy-yt.js")
		script(type="text/javascript", src="js/app.js")
		script(type="text/javascript", src="js/controllers.js")
		script(type="text/javascript", src="js/directives.js")
		script(type="text/javascript", src="js/services.js")


