doctype html
html(lang="en", ng-app="tube")
	head
		title YT Lectures
		meta(charset="UTF-8")
		link(rel="stylesheet", type="text/css", href="css/main.css")
	
	body
		div(ng-view)

		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-sanitize.js")
		script(type="text/javascript", src="bower_components/angular-route/angular-route.min.js")
		script(type="text/javascript", src="bower_components/angular-ui-utils/ui-utils.min.js")
		script(type="text/javascript", src="bower_components/contentful/dist/contentful.js")
		script(type="text/javascript", src="bower_components/angular-mocks/angular-mocks.js")
		script(type="text/javascript", src="bower_components/angular-scroll/angular-scroll.min.js")
		script(type="text/javascript", src="bower_components/showdown/src/showdown.js")
		script(type="text/javascript", src="js/app.js")
		script(type="text/javascript", src="js/controllers.js")
		script(type="text/javascript", src="js/directives.js")


